---
layout: default
---

<!-- Announcement Modal -->
{% include announcement.html announcements=site.data.announcements %}

<div id="page-home">

    <header id="header" class="min-vh-100 no-user-select">
        <div class="overlay"></div>
        <video autoplay="autoplay" muted="muted" loop="loop" src="/assets/videos/server_room.webm">
        </video>
    </header>

    <div id="main-name" class="container no-user-select">
        <div class="h-100 text-center align-items-center">
            <div class="w-100 text-while">
                <h1 class="display-1">D & C<br>L A B</h1>
                <p class="lead">Distributed & Cloud Computing Lab</p>
            </div>
        </div>
    </div>

    <main id="main" class="min-vh-100">
        <div class="content container text-justify mb-3">
            <p>
                The <mark class="d-sm-inline d-none">Distributed & Cloud Computing Lab</mark><mark class="d-sm-none">D&C
                    Lab</mark>, currently directed by professor <em>Heonchang Yu</em>,
                was established in 1998 as a one of the most pioneer laboratories in distributed computing areas
                located
                at Korea
                University. Over the past decades, D&C lab researchers have made valuable contribution in a wide
                range
                of distributed
                computing research such as mobile computing, fault tolerant systems, peer to peer computing,
                grid
                computing and cloud
                computing.
            </p>

            <p>
                Currently, our lab serves as the focal point for research on Cloud Computing including data
                management,
                mobility
                management, fault tolerant and dependable services, overlay network construction, checkpoint,
                spot
                instance management
                of virtual machines, cost-efficient scheduling algorithms, replication of resources etc.
            </p>
        </div>

        {% include title-container.html title="Recent News" %}

        <div class="container px-0">
            <div class="card-columns">
                {% assign posts = site.categories.news %}
                {% for post in posts limit:9 %}
                {% include news-item.html news=post %}
                {% endfor %}
            </div>
        </div>
    </main>

</div>

<script>
    $(function() {
        var $trg = $('html, body');
        var $mainName = $('#main-name');
        var $window = $(window);
        var lastScrollTop = $window.scrollTop();
        var bp = $window.height();
        var cw = $window.width();
        var BP_SM = 576;
        var isEnabled = true;
        var isInProgress = false;

        if (cw < BP_SM) {
            isEnabled = false;
        } else if ($window.scrollTop() >= $('#header').height()) {
            $mainName.addClass("active");
        }

        $window.on('resize', function() {
            cw = $window.width();
            if (cw < BP_SM) {
                $mainName.removeClass("active");
                isEnabled = false;
            } else if (!isEnabled) {
                isEnabled = true;
            }
        })

        function done() {
            setTimeout(function() {
                $window.stop().clearQueue();
                lastScrollTop = $window.scrollTop();
                isInProgress = false;
            }, 100);
        }

        function goUp(st) {
            if (st > bp) {
                done();
                return;
            }
            $mainName.removeClass("active");
            $trg.stop().animate({ scrollTop: 0 }, 500, done);
        }

        function goDown(st) {
            if (st > bp) {
                done();
                return
            }
            $mainName.addClass("active");
            $trg.stop().animate({ scrollTop: bp }, 500, done);

        }

        $window.scroll(function(e) {
            if (isInProgress) {
                e.preventDefault();
                return;
            }

            if (!isEnabled) {
                return;
            }

            isInProgress = true;
            var st = $window.scrollTop();
            if (st <= lastScrollTop) {
                goUp(st);
            } else {
                goDown(st);
            }
        });
    });
</script>

{% include footer.html %}