---
layout: page
title: Students
---

<link rel="stylesheet" href="/assets/css/page-members.css">

{% assign graduateStudents = site.data.members.phd | concat: site.data.members.master %}
{% assign fullTimeStudents = graduateStudents | where_exp: "member", "member.partTime != true" %}
{% assign partTimeStudents = graduateStudents | where_exp: "member", "member.partTime == true" %}

{% include title-container.html title="Graduate Students" %}
<div class="container">
    <h4 class="mt-4 mb-3">Full-time</h4>
</div>
{% include student-member-group.html members=fullTimeStudents %}
<div class="container">
    <h4 class="mt-4 mb-3">Part-time</h4>
</div>
{% include student-member-group.html members=partTimeStudents %}

{% include title-container.html title="Undergraduate Student" %}
{% include student-member-group.html members=site.data.members.intern %}

<script>
    $(function () {
        var trgClass = 'active'
        var $memCards = $('.member');
        var $window = $(window);

        function reset() {
            $memCards.removeClass(trgClass);
        }

        $window.click(function () {
            reset()
        });
        $memCards.click(function (e) {
            e.stopPropagation();
            var $self = $(this);
            if($self.hasClass(trgClass)) return;
            reset();
            $(this).addClass(trgClass);
        })
        $('[data-dismiss]', $memCards).click(function (e) {
            e.stopPropagation();
            reset();
        });
    })
</script>
