---
layout: page
title: Publications
title_actions: publication-tabs
---

<div class="tab-content" id="publication-tab-content">
    <div class="tab-pane fade show active" id="pubs-international" role="tabpanel" aria-labelledby="pubs-international-tab">
        <div class="container publication-content">
            {% include publication-mixed-group.html journals=site.data.publications-ji conferences=site.data.publications-ci %}
        </div>
    </div>

    <div class="tab-pane fade" id="pubs-domestic" role="tabpanel" aria-labelledby="pubs-domestic-tab">
        <div class="container publication-content">
            {% include publication-mixed-group.html journals=site.data.publications-jd conferences=site.data.publications-cd %}
        </div>
    </div>
</div>
