---
layout: page
permalink: /seminar/history
---

<div class="seminar-archive container">
    {% assign seminars = site.data.seminars | reverse %}
    {% assign year = seminars[0].date | date: "%Y" %}
    <h6 class="seminar-year">{{ year }}</h6>
    <ul class="seminar-list list-unstyled">
        {% for seminar in seminars %}
            {% assign y = seminar.date | date: "%Y" %}
            {% if y == year %}
                {% include seminar-item.html seminar=seminar %}
            {% else %}
                {% assign year = y %}
    </ul>
    
    <h6 class="seminar-year">{{ year }}</h6>
    <ul class="seminar-list list-unstyled">
                {% include seminar-item.html seminar=seminar %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
