@each $color, $value in $theme-colors {
    .badge-empty-#{$color} {
        border: 1px solid $value;
        color: $value;
    }
}

.badge-empty-teal {
    border: 1px solid #7fd8c7;
    color: #4fae9b;
}

.badge-publication-journal {
    background-color: #9f1d35;
    color: #ffffff;
}

.badge-publication-conference {
    background-color: #c75b6c;
    color: #ffffff;
}
