$body-bg: #f4f4f4;
$headings-font-weight: 600;

@import "vendor/bootstrap-4.3.1/bootstrap";
@import "feather";
@import "badges";

html,
body {
  min-height: 100%;
}

@media print {
  html,
  body,
  .content.container {
    background-color: #ffffff !important;
  }

  #footer {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}

.title.container,
.page-title.container {
  @extend .border-bottom;
}

main {
  @extend .pb-5;

  .container {
    font-size: 1.2rem;
  }

  @include media-breakpoint-down(sm) {
    text-align: unset;
    padding: 1rem;
  }

  .title.container {
    @extend .p-1;
    @extend .px-3;
    @extend .mb-2;
    @extend .mt-2;
    @extend .mt-sm-5;
  }

  .content.container {
    @extend .border;
    padding: $spacer;
    background-color: #f0f0f0;

    @include media-breakpoint-up(sm) {
      padding: $spacer * 2;
    }
  }
}

main.post {
  img {
    @include img-fluid
  }
}

h6 {
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}

dt {
  text-align: right;

  @include media-breakpoint-down(sm) {
    padding-right: 0 !important;
  }
}
dl {
  text-align: left;
}

#img-professor {
  img {
    @extend .border;

    width: 100%;
    // Needed update to widest mobile display.
    // currently, Pixel2
    max-width: 379px;

    @include media-breakpoint-up(md) {
      position: absolute;
      width: 200px;
      height: 200px;

      object-fit: cover;

      top: -100px;
      right: 36px;
      z-index: 10;
    }
  }
}

ul.list-unstyled > li {
  @extend .border-bottom;
  margin-bottom: 14px;
}

ul.list-unstyled > li:last-child {
  @extend .border-bottom-0;
  margin-bottom: 0;
}

li > p.h5:first-child {
  margin-bottom: 0;
}

#nav {
  transition: top 0.2s ease-in-out;
  .navbar-brand {
    @include media-breakpoint-down(sm) {
      width: 100%;
      text-align: center;
    }
  }
  .navbar-text {
    @include media-breakpoint-down(sm) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .container {
    @include media-breakpoint-down(sm) {
      max-width: unset;
      width: 100%;
    }
  }
}

.nav-hide {
  top: -200px !important;
}

.nav-link {
  padding-left: 5px;
  padding-right: 5px;
  @include media-breakpoint-up(sm) {
    padding-left: $nav-link-padding-x;
    padding-right: $nav-link-padding-x;
  }
}

.drop-cap:first-child:first-letter {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 3em;
  float: left;
  line-height: 2;
  padding: 0;

  margin: -0.43em 0.1em -1em 0.1em;
}

#scroll-guide {
  position: fixed;
  padding-top: 12px;
  z-index: 1020;
}

.map {
  width: 100%;
  height: 100%;
  border: $card-border-width solid $card-border-color;
}

#footer {
  color: #a6a6a6;

  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: unset;
  }

  .logo {
    padding-bottom: 1em;
    text-align: center;
    @include media-breakpoint-up(sm) {
      float: left;
      height: 115px;
      margin-right: $grid-gutter-width/2;
    }

    img {
      height: 100%;
    }
  }
}

article footer {
  padding-top: $spacer * 3;
}

@import "page-home";
@import "_layout_post";