<footer id="footer" class="container-fluid p-2 bg-dark">
    <div class="container pt-5 pb-3 text-sm-right">
        <div class="logo">
            <img src="/assets/images/logo_KU.png" alt="">
        </div>
        <p>
            Professor<i data-feather="map-pin"></i><br class="d-sm-none">Aegineung Student Center 315, Korea
            University,<br>Anam-Dong, Sungbuk-Ku, Seoul, 02841,
            KOREA
        </p>
        <p>
            D&C Lab.<i data-feather="map-pin"></i><br class="d-sm-none">Aegineung Student Center 308, Korea
            University,<br>Anam-Dong, Sungbuk-Ku, Seoul, 02841,
            KOREA
        </p>
    </div>
    <div class="container pb-3 text-center">
        <small>
            Copyright © 2019, By Distributed & Cloud Computing Laboratory, Department of Computer Science & Engineering,
            College of Informatics, Korea University, All Rights Reserved.
        </small>
    </div>
</footer>