<nav id="nav" class="navbar fixed-top navbar-dark bg-dark no-user-select">
    <div class="container">
        <a href="/" class="navbar-brand">D&C LAB</a>
        <a href="/professor" class="navbar-text">Professor</a>
        <a href="/members" class="navbar-text">Members</a>
        <a href="/research" class="navbar-text">Research</a>
        <a href="/projects" class="navbar-text">Projects</a>
        <a href="/publications" class="navbar-text">Publications</a>
        <a href="/seminar" class="navbar-text">Seminar</a>
        <a href="/contact" class="navbar-text">Contact</a>
    </div>
</nav>