<nav id="nav" class="navbar fixed-top navbar-dark bg-dark no-user-select">
    <div class="container justify-content-start">
        <a href="/" class="navbar-brand mr-5">D&C LAB</a>
        <div class="dropdown mr-4">
            <a href="#" class="navbar-text dropdown-toggle" id="members-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Members
            </a>
            <div class="dropdown-menu" aria-labelledby="members-menu">
                <a href="/professor" class="dropdown-item">Professor</a>
                <a href="/members" class="dropdown-item">Students</a>
            </div>
        </div>
        <a href="/research" class="navbar-text mr-4">Research</a>
        <a href="/projects" class="navbar-text mr-4">Projects</a>
        <a href="/publications" class="navbar-text mr-4">Publications</a>
        <a href="/seminar" class="navbar-text mr-4">Seminar</a>
        <a href="/news" class="navbar-text mr-4">News</a>
        <a href="/contact" class="navbar-text">Contact</a>
    </div>
</nav>
