<li>
    <p class="lead">
        {% for name in include.bib.author %}
            {% if nmae.literal %}
                {{- name.literal -}},
            {% else %}
                {{ name.given }} {{ name.family }},
            {% endif %}
        {% endfor %}

        "{{ include.bib.title }}"

        {%- if include.bib.publisher -%}
            , {{ include.bib.publisher }}
        {%- endif -%}

        {%- if include.bib.container-title -%}
            , {{ include.bib.container-title }}
        {%- endif -%}

        {%- if include.bib.volume -%}
            , Vol.{{ include.bib.volume }}
        {%- endif -%}

        {%- if include.bib.issue -%}
            , Issue {{ include.bib.issue }}
        {%- endif -%}

        , {{ include.bib.issued.date-parts[0][0] }}

        {%- if include.bib.page -%}
            , pp.{{ include.bib.page }}
        {%- endif -%}

        <b>
        {%- if include.bib.note -%}
            , ({{ include.bib.note }})
        {%- endif -%}
        </b>
        .
        {%- if include.bib.co-author -%}
        <br><span style="font-size: 0.8em;">{{ include.bib.co-author }}</span>
        {%- endif -%}
    </p>
</li>