{% assign journals = include.journals | sort: 'issued.date-parts' | reverse %}
{% assign conferences = include.conferences | sort: 'issued.date-parts' | reverse %}
{% assign bibs = journals | concat: conferences | sort: 'issued.date-parts' | reverse %}
{% assign year = bibs[0].issued.date-parts[0][0] %}
<div class="publication-year">
    <span>{{ year }}</span>
</div>
<ul class="publication-list list-unstyled">
    {% for bib in bibs %}
        {% assign y = bib.issued.date-parts[0][0] %}
        {% if y == year %}
            {% if journals contains bib %}
                {% include publication-item.html bib=bib type="Journal" %}
            {% else %}
                {% include publication-item.html bib=bib type="Conference" %}
            {% endif %}
        {% else %}
        {% assign year = y %}
</ul>
<div class="publication-year">
    <span>{{ year }}</span>
</div>
<ul class="publication-list list-unstyled">
            {% if journals contains bib %}
                {% include publication-item.html bib=bib type="Journal" %}
            {% else %}
                {% include publication-item.html bib=bib type="Conference" %}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
