<li class="publication-preview-item">
    <div class="publication-preview{% if include.type %} publication-preview-{{ include.type | downcase }}{% endif %}">
        <div class="publication-preview-heading">
            {% if include.type %}
            <span class="publication-preview-type">{{ include.type }}</span>
            {% endif %}
            {% if include.bib.status %}
            <span class="publication-preview-status">{{ include.bib.status }}</span>
            {% endif %}
            <div class="publication-preview-title">
                {{ include.bib.title }}
            </div>
        </div>

        <div class="publication-preview-authors">
            {% for name in include.bib.author %}
                {% assign given = name.given | strip %}
                {% assign family = name.family | strip %}
                {% if name.literal %}
                    {{ name.literal | strip }}
                {% elsif given != "" and family != "" %}
                    {{ given }} {{ family }}
                {% else %}
                    {{ given }}{{ family }}
                {% endif %}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </div>

        <div class="publication-preview-venue">
            {% assign hasPublicationMeta = false %}
            {%- if include.bib.publisher -%}
                {{ include.bib.publisher }}
                {% assign hasPublicationMeta = true %}
            {%- elsif include.bib.container-title -%}
                {{ include.bib.container-title }}
                {% assign hasPublicationMeta = true %}
            {%- endif -%}
            {%- if include.bib.volume -%}
                {%- if hasPublicationMeta -%}, {% endif -%}Vol.{{ include.bib.volume }}
                {% assign hasPublicationMeta = true %}
            {%- endif -%}
            {%- if include.bib.issue -%}
                {%- if hasPublicationMeta -%}, {% endif -%}Issue {{ include.bib.issue }}
                {% assign hasPublicationMeta = true %}
            {%- endif -%}
            {%- if include.bib.page -%}
                {%- if hasPublicationMeta -%}, {% endif -%}pp.{{ include.bib.page }}
                {% assign hasPublicationMeta = true %}
            {%- endif -%}
            {%- if hasPublicationMeta -%}, {% endif -%}{{ include.bib.issued.date-parts[0][0] }}
        </div>

        {%- if include.bib.note or include.bib.co-author -%}
        <div class="publication-preview-highlight">
            {%- if include.bib.note -%}{{ include.bib.note }}{%- endif -%}
            {%- if include.bib.note and include.bib.co-author -%}, {% endif -%}
            {%- if include.bib.co-author -%}{{ include.bib.co-author }}{%- endif -%}
        </div>
        {%- endif -%}
    </div>
</li>
