<li class="seminar-card">
    <p class="seminar-title">{{ include.seminar.title }}</p>
    <div class="seminar-meta">
        <span class="seminar-meta-item"><i data-feather="mic"></i>{{ include.seminar.speacker }}</span>
        <span class="seminar-meta-item"><i data-feather="map-pin"></i>{{ include.seminar.location }}</span>
        <span class="seminar-meta-item"><i data-feather="clock"></i><time datetime="{{ include.seminar.date }}">{{ include.seminar.date | date: "%a, %b %d, %y, %I:%M %p %Z" }}</time></span>
    </div>
</li>
